<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" routerLink="/home">Ourtinerary</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/trips/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">New Trip</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/trips" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Trips</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLinkActive="active">Notifications</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLinkActive="active">Messages</a>
			</li>
			<li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        Louie
		        </a>
			    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			        <a class="dropdown-item" href="#" routerLinkActive="active">Profile</a>
			        <a class="dropdown-item" href="#" routerLinkActive="active">Create a Trip</a>
			        <a class="dropdown-item" href="#" routerLinkActive="active">Invite a Friend</a>
			    </div>
		    </li>
		</ul>
	</div>
</nav>


<router-outlet></router-outlet>
