<h1>Create a New Trip</h1>

<div>
	<form (ngSubmit)="createTrip(trip)" #tripForm="ngForm">
		<div class="form-group">
			<label for="name">trip name</label>
				<input type="text"
					class="form-control"
					id="name"
					placeholder="name your trip"
					required
					name="name"
					#name='ngModel'
					[(ngModel)]="trip.name"
			>
			<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
				trip name is required
			</div>

		</div>	
		<div class="form-group">
			<label for="destination">destination</label>
				<input type="text"
					class="form-control"
					id="destination"
					placeholder="enter your destination" 
					required
					name="destination"
					#destination='ngModel'
					[(ngModel)]="trip.destination"
			>
			<div [hidden]="destination.valid || destination.pristine" class="alert alert-danger">
				destination is required
			</div>
		</div>
		<button type="submit"
			class="btn btn-outline-info btn-lg"
			[disabled]="!tripForm.form.valid"
			[hidden]="submitted"
		>
		Submit
		</button>
		<div
		[hidden]="!submitted"
		class="alert alert-success"
		role="alert"
		>
			Your trip has been created <a class="alert-link" routerLink="/trips/">View All Trips</a>
		</div>
	</form>
</div>



<div>
	{{trip.name}}
<div>
	{{trip.destination}}
</div>